@import "../../styles/colors";

.tabsContainer {
  display: flex;
  position: relative;

  .disabled {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 20px;
    background-color: $middle-grey;
    opacity: 0.5;
  }

  .tab {
    text-align: center;
    width: 250px;
    padding: 15px;
    border: 1px solid $light-gray;
    border-right: none;
    cursor: pointer;
    text-transform: uppercase;
    color: $dark-gray;
    background-color: $white;
    margin-bottom: 20px;

    &.active {
      border-color: $blue-main-color;
      background-color: $blue-main-color;
      color: $white;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
      border-right: 1px solid $light-gray;
    }
  }
}

