@import "../../styles/colors";

.ticket {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 20px 50px 20px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    .price {
      flex: 80%;
      font-size: 24px;
      color: $blue-main-color;
    }

    .company {
      flex: 20%;
      max-height: 36px;
    }
  }
  .segment {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    .segmentRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      text-align: left;
    }
    .segmentItem {
      min-width: 100px;
      width: 100px;

      &:last-child {
        margin-left: 20px;
      }

      .head {
        color: $middle-grey;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 18px;
        white-space: nowrap;
      }
      .body {
        color: $dark-gray;
        font-size: 14px;
        white-space: nowrap;
      }
    }
  }

}

