@import "../../styles/colors";

.emptyCard {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  max-width: 500px;

  .header {
    width: 100%;
    margin-bottom: 20px;
  }
}