@import "../../styles/colors";

.filterContainer {
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 0 10px;
  width: 232px;
  position: relative;

  .disabled {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: $middle-grey;
    opacity: 0.5;
  }

  .header {
    color: $dark-gray;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }
}

