@import "../../styles/colors";

.checkboxContainer {
  display: flex;
  padding: 10px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: $dark-gray;
  cursor: pointer;

  &:hover {
    background-color: $light-blue;
  }

  .checkbox {
    border: 1px solid $blue-main-color;
    box-sizing: border-box;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;

    &.checked {
      background: url("./check.svg") center no-repeat;
    }
  }
}

