@import "styles/colors";

.app {
  background-color: $bg-main-color;
  min-height: 100vh;
  padding: 50px;
}

.searchContainer {
  display: flex;
  flex: 1 3;
  justify-content: center;
  margin: 0 auto;

  .searchColumn {
    display: flex;
    flex-direction: column;
  }
}