@import "styles/fonts";
@import "styles/colors";

body {
  margin: 0;
  font-family: $main-font, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
}
